.button_add_todo_list, .button_remove_todo_list {
	border: 0.1em solid #aaa;
	border-radius: 0.2em;
	padding: 0.5em 1em;
	margin: 0.5em;
	background: #eee;
	cursor: pointer;
	    box-shadow: 0.05em 0.1em 0 rgba(0,0,0,0.1);
}
